<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <!-- 别名定义 -->

        <!-- 秒杀商家 -->
        <typeAlias type="com.bargains.entity.MerchantEntity" alias="merchantEntity"/>
        <typeAlias type="com.bargains.vo.merchant.MerchantVo" alias="merchantVo"/>

        <!-- 秒杀用户 -->
        <typeAlias type="com.bargains.entity.UserEntity" alias="userEntity"/>
        <typeAlias type="com.bargains.vo.user.UserVo" alias="userVo"/>

        <!-- 秒杀商品-->
        <typeAlias type="com.bargains.entity.BargainsEntity" alias="bargainsEntity"/>
        <typeAlias type="com.bargains.vo.bargains.BargainsVo" alias="bargainsVo"/>

        <!-- 秒杀商品详情-->
        <typeAlias type="com.bargains.entity.ProductEntity" alias="productEntity"/>

        <!-- 秒杀订单-->
        <typeAlias type="com.bargains.entity.OrderEntity" alias="orderEntity"/>
        <typeAlias type="com.bargains.vo.order.OrderVo" alias="orderVo"/>
    </typeAliases>

</configuration>